.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  background: radial-gradient(circle, #545454 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  min-width: 70px;
  aspect-ratio: 1;
  line-height: 90%;

  position: relative;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-bg);
  z-index: -1;
}

.links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-right: 40px;
}

.links a {
  text-decoration: none;
}